<% include header %>

<div class="container">
  <h1>Code Butler</h1>
  <img src="/logo.png" />
  <p class="lead">
    We’re open 24/7 days, so start your questions and interactions!
  </p>
  <p>
    This site is part of the Sample Messenger Bot experience of Code Butler
  </p>
  <ul>
    <li>
      <a href="https://www.codebutler-app.com/"
        >Code Butler</a
      >
    </li>
    <li>
      Wan't to build your own?
      <a
        href=""
        >DevDocs</a
      >
    </li>
  </ul>
</div>

<% include footer %>
